<div class="col-md-4">
                        <div class="card" style=" outline-style: solid; outline-color:lightgray">
                            <div class="card-head">
                                <h3>Course name</h3>
                            </div>
                            <hr>
                            <div class="card-body">
                                <p>
                                   Information about the courses <br>
                                  <br> <br> <br>
                                </p>
                                <a href="./more.html" class="btn btn-outline-secondary">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card" style=" outline-style: solid; outline-color:lightgray">
                            <div class="card-head">
                                <h3>Course name</h3>
                            </div>
                            <hr>
                            <div class="card-body">
                                <p>
                                   Information about the courses <br>
                                  <br> <br> <br>
                                </p>
                                <a href="./more.html" class="btn btn-outline-secondary">Learn More</a>
                            </div>
                        </div>
                    </div>  

                    <div class="col-md-4">
                        <div class="card" style=" outline-style: solid; outline-color:lightgray">
                            <div class="card-head">
                                <h3>Course name</h3>
                            </div>
                            <hr>
                            <div class="card-body">
                                <p>
                                   Information about the courses <br>
                                  <br> <br> <br>
                                </p>
                                <a href="./more.html" class="btn btn-outline-secondary">Learn More</a>
                            </div>
                        </div>
                    </div>
