<div class="jumbotron-mt-4">
    {{!-- <h1 class="display-4">Proyecto Final</h1> --}}
    {{#if user}}
        {{#if user.level}}
            {{> dashboard}}
        {{else}}
            <p class="lead">Bienvenido, estudiante {{user.name}} {{user.last_name}}</p>
        {{/if}}
    {{else}}
        <p class="lead">Bienvenido</p>
    {{/if}}
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi architecto placeat est aliquid incidunt quis accusantium ratione ut omnis blanditiis. Ducimus sapiente eligendi obcaecati eos distinctio sit porro aspernatur earum.</p>
    <a href=""></a>
</div>