<link rel="stylesheet" href="/css/teachers.css">
<link rel="shortcut icon" href="favicon/favicon.ico">  
  
  <nav id="sidebar" class="active">
    <h1><a href="#" class="logo">P.</a></h1>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a href="/" rel="shortcut icon"><span class="fa fa-home"></span>Dashboard</a>
      </li>
      <li>
          <a href="/homeworks" rel="shortcut icon"><span class="fa fa-user"></span>Homeworks</a>
      </li>
      <li>
          <a href="/activities" rel="shortcut icon"><span class="fa fa-user"></span>Activities</a>
      </li>
      <li>
        <a href="/courses" rel="shortcut icon"><span class="fa fa-sticky-note"></span>Courses</a>
      </li>
    </ul>

    <div class="footer">
      <p>
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
      </p>
    </div>
  </nav>